body {background-color: lightgrey}

main {background-color: white;}

h1 {color: teal;}
h2 {color:teal}
h4 {color: teal; width: 50%;}
/* .header {color:aqua;
background-color: white;} */

.summary {background: white;
padding:20px}

.sideviz {background: white;}
.sideviz h2 {text-align: center;}
.sideviz p {text-align: center;}
/* .sideviz h4 {width: 25%;} */

.datasection {background-color: white;
margin: 20px;
padding: 20px;}

.comparesection {background-color: white;
    margin: 20px;
    padding: 40px;}

.samplephoto {float:left;
width: 40%;}

.navbar {margin-bottom: 50px;}

/* .comparison_box {height: 400px;
padding: 20px;
background:aqua} */
